.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #669bbc;
  font-family: Arial, sans-serif;
}

.title {
  color: white;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
}
.container {
  text-align: center;
  display: flex;
  gap: 10px;
}

.button {
  text-decoration: none;

  color: white;
  font-size: 25px;
  background-color: #f1faee;
  color: #1d3557;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  border-radius: 10px;
  transition: all 0.2s ease;
}
.button:hover {
  background-color: #e0ebfa;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  transform: translateY(-2px);
  transition: all 0.2s ease;
}
