.radioContainer {
  height: 150px;
  width: 400px;
  overflow-y: auto;
  transition: all 0.2s ease-in-out;
  padding: 10px;
  border-radius: 8px;
  background-color: #1d3557;
 
  /* для Firefox */
  scrollbar-width: thin; /* thin | auto | none */
  scrollbar-color: #ff8800 #1d3557; /* ползунок, фон */
}

/* Chrome, Edge, Safari */
.radioContainer::-webkit-scrollbar {
  width: 15px; /* толщина скроллбара */
}

.h2 {
  color: white;
  font-size: 24px;
}

.radio {
  top: 20px;
}

.radioContainer:hover {
  height: 300px;
}
.radioContainer::-webkit-scrollbar-track {
  border-radius: 15px;
}

.radioContainer::-webkit-scrollbar-thumb {
  background-color: #ff8800; /* цвет ползунка */
  border-radius: 15px; /* скругление */
  border: 2px solid #1d3557; /* немного отступ от краев */
}

.radioContainer::-webkit-scrollbar-thumb:hover {
  background-color: #ffa500; /* цвет при наведении */
}

.radioItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 6px 8px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #111111;
}

.radioItem:hover {
  background-color: #c5f5f5;
}

.radioItem:hover .radioName {
  color: #000000;
}

.radioName {
  flex: 1;
  background: none;
  font-size: 14px;
  font-weight: 500;
  color: #fff; /* исходный цвет */
  transition: color 0.2s ease;
}

.radioLogo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 4px;
  object-fit: cover;
}

.radioBtn {
  padding: 4px 12px;
  font-size: 20px;
  background-color: transparent;
  color: #fff;
  border: none;

  cursor: pointer;
  transition: background-color 0.2s ease;
}

.audioPlayer {
  width: 100%;
  margin-top: 12px;
  outline: none;
  border-radius: 6px;
}

@media (max-width: 450px) {
  .radioContainer {
    width: 100%;
  }
}
