.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: center;
  min-height: 80vh;
  margin-top: 200px;
}

.description {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}

.resultBox {
  background-color: aliceblue;
  padding: 15px;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  width: 600px;
  height: 500px;
  overflow: auto;
}

.downloadBtn {
  margin-top: 15px;
  background-color: #0070f3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  cursor: pointer;
}
.translateBtn {
  margin-left: 10px;
  background-color: #32c0c0;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 15px;
  font-size: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.translateBtn:hover {
  background-color: #28a0a0;
}
