.main {
  background-color: aliceblue;
}

.title {
  color: white;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #669bbc;
  font-family: Arial, sans-serif;
}


.main {
  margin-bottom: 50px;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  background: transparent;
  border-radius: 10px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.uploadSection {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.uploadSection input[type="file"] {
  display: none;
}

.uploadSection label {
  padding: 8px 15px;

  background: #0070f3;
  color: white;
  border-radius: 10px;
  font-size: 25px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}
.uploadSection label:hover {
  background: #3291ff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.fileName {
  font-size: 20px;
  color: white;
}
.uploadSection button {
  padding: 8px 15px;
  border: none;
  background: #538d22;

  color: white;
  border-radius: 10px;
  font-size: 25px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}
.uploadSection button:hover {
  background: #6fa72d;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.resultSection {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  .resultBox {
    white-space: pre-wrap; /* сохраняет пробелы и переносы строк */
    font-family: "Courier New", monospace; /* фиксированный шрифт */
    font-size: 12px; /* твой размер */
  }
}

.resultControls {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.resultBox {
  max-height: 700px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  min-height: 150px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 30px;
  text-align: left;
  background: #fafafa;

  overflow-y: auto; /* вертикальный скролл при переполнении */
}

.downloadBtn {
  align-self: center;
  padding: 8px 15px;
  border: none;
  background: #cc5803;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}
.downloadBtn:hover {
  background: #e2711d;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


